obs-websocket-py
python-osc
mido==1.2.10
python-rtmidi
pyyaml
pygame
simpleobsws
flask
aioconsole
google-api-python-client
google-auth-oauthlib
google-auth
google-auth-httplib2
oauth2client
pyperclip
PySimpleGUI
pysimpleguiweb
remi
asgiref
websocket
aiohttp